:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-header {
  background-color: rgb(47, 18, 151);
  margin-bottom: 5px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-top: -5px;
}

.photo-card {
  flex-basis: calc(100% / 4 - 5px);
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-bottom: 40px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.load-more {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
